body {
  background-color: black;
}
.top-wrapper {
  color: white;
}
.top-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header {
  font-size: 1.2rem;
  font-family: "GeosansLight";
}
#simon {
  font-family: "Fontanero";
  margin: 0px 5px;
  font-size: 2.5rem;
}
.mode {
  margin: 0px 10px;
  font-family: "GeosansLight";
}
.start {
  margin: 10px 0;
}
.start-btn {
  font-family: "Fontanero";
  border: 2px solid white;
  border-radius: 5px;
  color: #000;
  -webkit-box-shadow: 0 0 40px 40px #19ff00 inset, 0 0 0 0 #19ff00;
          box-shadow: 0 0 40px 40px #19ff00 inset, 0 0 0 0 #19ff00;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  margin: 5px;
  padding: 6px;
}
.start-btn:hover {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #19ff00;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #19ff00;
}
.start-btn:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #19ff00;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #19ff00;
  color: #19ff00;
}
.reset-btn {
  font-family: "Fontanero";
  border: 2px solid white;
  border-radius: 5px;
  color: #000;
  -webkit-box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
          box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  margin: 5px;
  padding: 6px;
}
.reset-btn:hover {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px red;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px red;
}
.reset-btn:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px red;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px red;
  color: red;
}
#round, #status {
  font-family: "GeosansLight";
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}
input:checked + .slider {
  background-color: #b700ff;
}
input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #b700ff;
          box-shadow: 0 0 1px #b700ff;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  width: 320px;
  height: 320px;
  margin: 15px auto;
}
#status {
  grid-column: 1/3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8em;
}
.buttons-wrapper > div {
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5em;
}
.btn0 {
  background-color: blue;
  color: #000;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.ai0 {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px blue;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px blue;
  color: white;
}
.btn0:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px blue;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px blue;
  color: blue;
}
.ai0 > span {
  color: white;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.btn1 {
  background-color: #b700ff;
  color: #000;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.ai1 {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #b700ff;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #b700ff;
  color: white;
}
.btn1:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #b700ff;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #b700ff;
  color: #b700ff;
}
.ai1 > span {
  color: white;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.btn2 {
  background-color: #19ff00;
  color: #000;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.ai2 {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #19ff00;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #19ff00;
  color: white;
}
.btn2:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #19ff00;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #19ff00;
  color: #19ff00;
}
.ai2 > span {
  color: white;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.btn3 {
  background-color: red;
  color: #000;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.ai3 {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px red;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px red;
  color: white;
}
.btn3:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px red;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px red;
  color: red;
}
.ai3 > span {
  color: white;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.btn4 {
  background-color: #fff900;
  color: #000;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.ai4 {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #fff900;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #fff900;
  color: white;
}
.btn4:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #fff900;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #fff900;
  color: #fff900;
}
.ai4 > span {
  color: white;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.btn5 {
  background-color: #ff7800;
  color: #000;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.ai5 {
  -webkit-box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #ff7800;
          box-shadow: 0 0 12px 3px white inset, 0 0 12px 6px #ff7800;
  color: white;
}
.btn5:active {
  -webkit-box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #ff7800;
          box-shadow: 0 0 40px 40px white inset, 0 0 12px 6px #ff7800;
  color: #ff7800;
}
.ai5 > span {
  color: white;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  max-width: 320px;
  margin: 15px auto;
  color: white;
}
.bottom-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Icons*/
@font-face {
  font-family: 'simon-beats';
  src:  url('fonts/simon-beats.eot?jxkv6x');
  src:  url('fonts/simon-beats.eot?jxkv6x#iefix') format('embedded-opentype'),
    url('fonts/simon-beats.ttf?jxkv6x') format('truetype'),
    url('fonts/simon-beats.woff?jxkv6x') format('woff'),
    url('fonts/simon-beats.svg?jxkv6x#simon-beats') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simon-beats' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cymbal:before {
  content: "\e900";
}
.icon-kick:before {
  content: "\e901";
}
.icon-oHat:before {
  content: "\e902";
}
.icon-snare:before {
  content: "\e903";
}
.icon-tamb:before {
  content: "\e904";
}
.icon-tom:before {
  content: "\e905";
}
.icon-triangle:before {
  content: "\e906";
}
/* local fonts */
@font-face {
  font-family: "GeosansLight";
  src: url("fonts/GeosansLight.ttf") format('truetype');
}
@font-face {
  font-family: "Fontanero";
  src: url("fonts/Fontanero-FFP.ttf") format('truetype');
}